{% extends "xisShopCoreBundle::layout.html.twig" %}

{% block title %}xisShopCoreBundle:Product:all{% endblock %}

{% block body %}
    <h1>Welcome to the Product:all page</h1>
    <ul>
        {% for product in pager.results %}
            <li class="single_product">
                {{ include('xisShopCoreBundle:Product:single_listing.html.twig',{'product': product}) }}
            </li>
        {% endfor %}

    </ul>
    {{ pager(pager) }}
{% endblock %}

